@import '../utils/vars';

.advantages-section {
    display:flex;
    flex-direction: column;
    @include tablet{
      flex-direction: row;
      flex-wrap: wrap;
      columns: 2;
      justify-content: space-between;
      // margin: auto 15px auto 15px;
          }
}
.advantage {
  margin: 10px 0 30px 0;
  // margin: 0 30px 94px 0;
  &:nth-child(4) {
    margin-right: 0;
  }
  @include tablet {
    width: 270px;
  }
  &__item {
    width: auto;
    height: 120px;
    background-color: $advantages-icons-background-color;
    // margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    @include desktop {
    width: 270px;
    height: 120px;
    }
  }
  &__icon {
    margin: auto;
 

    @include desktop {
    margin: 25px 100px;}
  }
  &__tittle {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: auto;
    justify-content: center;
    padding: 30px 0 10px 0;
    // left: 50%;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }


// @import '../utils/vars';

// .advantages-section {
//   &__advantages {
//     display:flex;
//     flex-direction: column;
//     @include tablet {
//     flex-direction: row;
//     flex-wrap: wrap;
//     columns: 2;
//     }
// }}
// .advantage {
  
//   margin: 10px 0 30px 0;
//   margin: 0 30px 94px 0;
//   &:nth-child(4) {
//   margin-right: 0;
//     }
//     &__item {
//     @include tablet {
//       width: 320px;
//       margin-right: 30px;
//       &:nth-child(2n + 2) {
//         margin-right: 0;
//       }
//     }
//     @include desktop {
//       width: 256px;
//       margin-right: 30px;
//       &:nth-child(2n + 2) {
//         margin-right: 30px;
//       }
//       &:nth-child(4) {
//         margin-right: 0;
//       }}
//   }}
//   .advantage {
//   &__item {
//     // width: auto;
//     height: 120px;
//     background-color: $advantages-icons-background-color;
//     // margin-bottom: 30px;
//     border-radius: 4px;
//     display: flex;
//     // @include tablet {
//     //   width: 50%;
//     //   gap: 10px;
//     //   height: 120px;
//     // }
//     // @include desktop {
//     // width: 270px;
//     // height: 120px;
//     // }
//   }
//   &__icon {
//     margin: auto;
 

//     @include desktop {
//     margin: 25px 100px;}
//   }
//   &__tittle {
//     // display: flex;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     margin: auto;
//     justify-content: center;
//     padding: 30px 0 10px 0;
//     // left: 50%;
//     @include tablet {
//       width: 100px;
//       padding: 0;
//     }
//   }
//   &__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: $secondary-text-color;
//   }
}