@import '../utils/vars';

.clients-section {
  
  padding: 30px 0 30px;
  &__headline {
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    // justify-content: center;
    // margin: auto;
    // top: 130px;
  }
  &__icons {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;


    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__icon-background {
    width: 210px;
    height: 92px;
    border: $clients-icon-background;
    border-radius: 4px;
    display: flex;
    margin-bottom: 30px;
    &:focus,
    &:hover {
      border: $clients-icon-background-active;
      & > .clients-section__icon {
        fill: $primary-color;
      }
    }
    @include tablet {
      width: 226px;
    }

    @include desktop {
      width: 170px;
    }
  }
  &__link {
    margin-bottom: 30px;
    // max-width: 100%;
  }
  &__icon {
    margin: auto;
    justify-content: center;
    fill: $clients-svg-colors;
    // &--positon {
    //   margin: 12% 40%;
    // }
    // &--positon-1 {
    //   margin: 12% 38%;
    // }
    // &--positon-2 {
    //   margin: 14% 38%;
    // }
    // &--positon-3 {
    //   margin: 12% 34%;
    // }
    // &--positon-4 {
    //   margin: 8% 30%;
    // }
    // &--positon-5 {
    //   margin: 12% 28%;
    // }
  }
}
