@import '../utils/vars';

.header {
  border-bottom: $main-header-border;
  padding: 10px 0;
  // justify-content: ;
@include tablet { 
  padding: 0;
}
@include desktop {
padding: 10px 0 1px 0;
}
  
  &__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__webstudio-link {
    font-family: $logo-font;
    color: $primary-color;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    align-items: center;
    // padding-bottom: 10px;
    // margin: 16px 0 16px 0;
    // margin-left: 83px;
    &--span {
      color: $header-logo-color;
    }
  }
  &__button{
    justify-content: flex-end;
    border: none;
    // padding-top: 15px;
    background-color: transparent;
    color: $primary-color;

    &:hover,
    &:focus{
      color: $primary-color;
    }
    @include tablet {
      display: none;
    }


  }

&__navigation {
  display: none;
  @include tablet {
    display: flex;
    margin: 20px auto 20px 83px;
    // margin-left: 83px;
    // margin-right: auto;
  }
  @include desktop {
    margin-left: 93px;
  }
  &__list {
    color: $primary-text-color;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    max-width: 40%;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &__item {
      margin-right: 46px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }

  &__agency-link,
  &__agency-link:visited {
      color: $primary-text-color;
  }
  &__agency-link--underline {
    color: $primary-color;
    &::after {
      content: '';
      background-color: $primary-color;
      display: block;
      position: relative;
      top: 33px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
  &__portfolio-link,
  &__portfolio-link:visited {
    color: $primary-text-color;
  }
  &__portfolio-link--underline {
    color: $primary-color;
    &::after {
      content: '';
      background-color: $primary-color;
      display: block;
      position: relative;
      top: 25.5px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
  &__contact-link {
    color: $primary-text-color;
    // margin-right: 364px;
    &:visited {
      color: $primary-text-color;
    }
  }
}
&__contacts {
  display: none;

  @include tablet {
    margin: 0 15px 0px auto;
    display: block;
    top: 120px;
    // flex-direction: row;
    // gap: 10px;
  }
  @include desktop {
    display: flex;
        flex-direction: row;
    gap: 30px;
  }

  &__tel-link {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &__mail-link {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // margin-right: 50px;
  &__envelope-icon,
  &__smartphone-icon {
    margin-right: 10px;
    fill: currentColor;
  }
  }
}
}
