
.menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container {
    background-color: #fff;
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 796px;
    transform: translateX(100%);
    transition: $primary-transitions;
    
    &__item {
      margin-top: 32px;
    }

    &__close-btn  {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;
  }
  &__contacts {
    margin: 0 0 64px 40px;
  }
 
  &__list {
    justify-content: space-around;
    margin: 48px auto auto 40px;
  }
  &__link--nav {
  padding-bottom: 32px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // justify-content: space-around;
    // margin-left: 40px;
    &:hover,
    &:focus {
      color: $primary-color;
  }
  }

  &__item--nav {
    padding-bottom: 32px;
  }
      
  &__item-tel {
    padding-bottom: 32px;

    // font-size: 36px;
  }  
  

  &__link {
    color: $primary-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    // margin-left: 40px;
    &:hover,
    &:focus {
      color: $primary-color;
    }
  }
  // &__social {
  //   display: flex;
  //   flex-direction: column;
  // }
  // &__item {
  //   // margin: 40px;
  // }
  &__link-tel {
    color: $primary-color;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
  }
  &__link-mail {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &__socials {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 48px;
  }
  &__item:nth-child(-n + 3) {
    padding-right: 6%;
    border-right: 1px solid #21212133;
  }
  &__link-social {
    font-size: 18px;
    color: $primary-color;
    align-items: center;
  }}

  